$border: 1px solid rgb(214, 214, 214);
// $border: 2px solid black;
$lato: 'Lato',sans-serif;

//---random colors
$white: #ffffff;
$coal: #2a2a2a;

//---button,panel colors
$primary: #007bff;

$scrollbars: #9d9d9d;

//---animation time
$animation_time: 0.4s;