*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  font-family: "Lato", sans-serif;
  color: #333333;
}

body {
  background-color: #cecece;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

option[default] {
  display: none;
}

select, input {
  border: 1px solid #d6d6d6;
  padding: 7px;
  width: 80%;
  background-color: #ffffff;
}

label, input, select, button {
  font-size: 16px;
}

button {
  width: 100px;
  margin-left: 3px;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: #ffffff url(https://intl-payments.com/ipp-internal2/public/images/arrow.jpeg) no-repeat right content-box;
  background-size: 8px;
}

.container {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.container .main-form {
  background-color: white;
  width: 60%;
  margin-top: 100px;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 7px -2px silver;
          box-shadow: 0px 2px 7px -2px silver;
}

.container .main-form .actions-panel {
  border: 1px solid #d6d6d6;
  padding: 20px;
}

.container .main-form .actions-panel label {
  margin-bottom: 3px;
}

.container .main-form .adding-new-merchant {
  margin-bottom: 10px;
}

.container .main-form .adding-new-merchant input:focus {
  border-color: #8d8d8d;
}

.container .main-form .panels {
  width: 100%;
}

.container .main-form .merchant-list-panel {
  margin-bottom: 5px;
}

.container .main-form .btn-panel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
}

.container .main-form .btn-panel .upload-btn-panel {
  display: block;
  background: #fff;
  width: 180px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.container .main-form .btn-panel .upload-btn-panel svg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  fill: #fff;
}

.container .main-form .btn-panel .upload-btn-panel div {
  height: 4px;
  margin: -2px 0 0 0;
  position: absolute;
  top: 50%;
  left: 71px;
  right: 25px;
  background: #d3d7e0;
  display: none;
  border-radius: 2px;
}

.container .main-form .btn-panel .upload-btn-panel div span {
  position: absolute;
  background: #28e470;
  height: 4px;
  left: 0;
  top: 0;
  width: 0;
  display: block;
  border-radius: 2px;
}

.container .main-form .btn-panel .upload-btn-panel a {
  position: relative;
  display: block;
  z-index: 2;
  line-height: 42px;
  height: 42px;
  width: 100%;
  text-align: center;
}

.container .main-form .btn-panel .upload-btn-panel a span {
  cursor: pointer;
  display: block;
  color: #ffffff;
}

.container .main-form .btn-panel .push-online-panel {
  width: 180px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin-left: 3px;
}

.container .main-form .btn-panel .push-online-panel .push-online-btn {
  height: 42px;
  width: 100%;
  background-color: rgb(11, 180, 81);
}

.container .main-form .btn-panel .push-online-panel .push-online-btn:hover {
  background-color: #2e8cca;
}

.container .main-form .new-merchant-btn {
  background-color: #2980b9;
  color: #ffffff;
}

.container .main-form .new-merchant-btn:hover {
  background-color: #2e8cca;
}

.container .main-form .browse-btn {
  background-color: #9b9b9b;
}

.container .main-form .browse-btn:hover {
  background-color: #a1a1a1;
}

.container .main-form .action-btns {
  background-color: #0caa4e;
  color: #ffffff;
  border-radius: 30px;
}

.container .main-form .action-btns:hover {
  background-color: #2e8cca;
}
/*# sourceMappingURL=styles.css.map */
.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(25, 26, 17, 0.3) !important;
    position: fixed;
    z-index: 9999999;
    top: 0%;
    left: 0%;
    display: none;
}

.content-modal
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 300px;
    padding:20px;
    background-color: #ffff;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}