@import "base";

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: 0;
    font-family: $lato;
    color: #333333;
}

body {
    background-color: #cecece;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flex{
    display: flex;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

option[default] {
    display: none;
}


select, input{
    border: $border;
    padding: 7px;
    width: 80%;
    background-color: $white;
}

label, input, select, button{
    font-size: 16px;
}

button{
    width: 100px;
    margin-left: 3px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: $white url(https://intl-payments.com/ipp-internal2/public/images/arrow.jpeg) no-repeat right content-box;
    background-size: 8px;
}

.container{
    overflow: hidden;
    align-items: center;
    height: 100vh;
    width: 100%;

    .main-form{
        background-color: white;
        width: 60%;
        margin-top: 100px;
        padding: 20px;
        box-shadow: 0px 2px 7px -2px silver;

        .actions-panel{
            border: $border;
            padding: 20px;

            label{
                margin-bottom: 3px;
            }
        }

        .adding-new-merchant{
            margin-bottom: 10px;

            input:focus{
                border-color: rgb(141, 141, 141)
            }
            
        }

        .panels{
            width: 100%;
        }

        .merchant-list-panel{
            margin-bottom: 5px;
        }

        .btn-panel{
            justify-content: center;
            padding: 50px 0 0 0;
     
            .upload-btn-panel {
                display: block;
                background: #fff;
                width: 180px;
                -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
                // display: none;
            
                svg {
                    display: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -15px 0 0 -15px;
                    fill: #fff;
                }
            
                div {
                    height: 4px;
                    margin: -2px 0 0 0;
                    position: absolute;
                    top: 50%;
                    left: 71px;
                    right: 25px;
                    background: #d3d7e0;
                    display: none;
                    border-radius: 2px;
            
                    span {
                        position: absolute;
                        background:#28e470;
                        height: 4px;
                        left: 0;
                        top: 0;
                        width: 0;
                        display: block;
                        border-radius: 2px;
                    }
                }
            
                a{
                    position: relative;
                    display: block;
                    z-index: 2;
                    line-height: 42px;
                    height: 42px;
                    width: 100%;
                    text-align: center;
                    // box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
            
                    span 
                    {
                        cursor: pointer;
                        display: block;
                        color: $white;
                    }
                   
                }
            }

            .push-online-panel{
                width: 180px;
                -webkit-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
                margin-left: 3px;

                .push-online-btn{
                    height: 42px;
                    width: 100%;
                    background-color: #ecf0f1;
                }
            }
        }

        .new-merchant-btn{
            background-color: #2980b9;
            color: $white;

            &:hover{
                background-color: #2e8cca;
            }
        }

        .browse-btn{
            background-color: #9b9b9b;

            &:hover{
                background-color: #a1a1a1;
            }
        }

        .action-btns{
            background-color: #0caa4e;
            color: $white;
            border-radius: 30px;

            &:hover{
                background-color: #0bb451;
                // box-shadow: 0px 2px 12px -2px rgba(102,102,102,1);
            }
        }
    }
}

  